* {
    margin: 0;
}

html, body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);

    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    align-items: center;

    overflow-x: hidden;
    background-color: var(--black);
}

main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}


.container {
    max-width: 250px;
    min-height: 530px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    color: var(--grey);

    border: 2px solid salmon;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
}

.avatar {
    width: 10rem;
    margin: 0 11.5rem;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    transition: 1.5s;
}
.avatar > img:hover {
    transform: rotateY(360deg);
}

h1 {
    font-size: 1.5rem;

    margin-top: 1.5rem;
}

a {
    color: var(--grey);
    text-decoration: none;
    
    margin-top: .25rem;

    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;

    list-style: none;
    padding: 0;

    display: flex;
    gap: 1.5rem;

    justify-content: center;
}

#socialLinks img{
    transition: 0.5s;
    height: 2.5rem;
}

#socialLinks img:hover {
    margin-top: -0.5rem;
}

@media (max-width: 500px) {
    .container {
        border: 0;
    }
}
